.bannerImg {
  padding: 3rem .5rem 0 .5rem;
}

.filterBtn {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem .5rem 1rem;
  margin: .3rem .5rem;
  border: 1px solid #e5e5e5;
}

.filterBtn>span {
  font-size: .95rem;
  font-weight: 600;
}

.plusSign {
  color: #343a40;
  font-size: .9rem;
  padding-right: 1rem;
  cursor: pointer;
}

.navContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.subMenu {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .125);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin: 0 auto;
  transition: all 20s ease-in-out;
}

.title {
  color: #000;
  font-size: .9rem;
  text-transform: capitalize;
  padding: 1rem 0;
}

.filterPlus {
  color: #343a40;
  padding-right: 1rem;
  cursor: pointer;
}

.subMenuItem {
  padding: .3rem 0;
}

.subMenuLabel {
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}

.input {
  width: .75rem;
  height: .75rem;
  border: 1px solid rgba(0, 0, 0, .225);
  margin-left: .7rem;
  position: relative;
}

.backgroundDark {
  width: .75rem;
  height: .75rem;
  background: #000;
  position: absolute;
}

.isChecked {
  background-color: #000;
}

.subMenuText {
  color: #000;
  font-size: .75rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: .7rem;
}


@media (min-width: 750px) {
  .filterBtn {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .navContainer {
     margin-bottom: 0;
  }
  
  .filterBtn {
    width: 100%;
  }
}