.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1.2rem;
  right: -3rem;
}

.user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  z-index: 3;
  top: -1.7rem;
  left: -5.5rem;
}

.sesion-info {
  width: 7rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  right: 3rem;
  top: .7rem;
  padding-bottom: .2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-logout {
  border: 1px solid rgba(0, 0, 0, .3);
  padding: .5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.close-seccion {
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  font-size: .85rem;
}

@media(min-width: 992px) {
  .user-container {
    right: -5rem;
  }

  .user-img {
    width: 3rem;
    height: 3rem;
    top: -2.5rem;
    left: -8.5rem;
  }

  .sesion-info {
    width: 8rem;
    height: 4rem;
  }
}