.headerContainer {
  width: 100%;
  height: 3rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 2;
}

.navDesktop {
  display: none;
}

.navToggle {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

.navRight {
  display: flex;
  align-items: center;
}

.navContainer {
  width: 100%;
  height: 15rem;
  background: #fff;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: -1;
}

.navList {
  padding: .8rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.navList:first-child {
  margin-top: .5rem;
}

.navList:last-child {
  border-bottom: transparent;
}

.navLink,
.loginLink {
  color: #000;
  font-size: 1rem;
  padding: 0rem 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.headerLogo {
  width: 100px;
  height: 12.2px;
  margin-top: .4rem;
}

.cart {
  cursor: pointer;
  color: #000;
}

.cart>p {
  display: none;
}

.navLogin {
  display: none;
}

@media (min-width: 992px) {
  .headerContainer {
    height: 4rem;
    justify-content: space-between;
  }

  .navDesktop {
    display: block;
  }

  .headerLogo {
    width: 130px;
    height: 16px;
    margin-top: .4rem;
  }

  .navToggle {
    display: none;
  }

  .navContainer {
    width: 75%;
    height: 0;
    top: 1.3rem;
    left: 11rem;
  }

  .navItem {
    display: flex;
  }

  .navList {
    padding: 0;
    border-bottom: none;
  }

  .navList:first-child {
    margin-top: 0;
  }

  .navLink {
    font-size: .85rem;
    padding: 0 .5rem;
    font-weight: 400;
  }

  .headerLeft {
    display: flex;
    align-items: center;
  }

  .cart {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    padding-right: 1rem;
    margin-bottom: .2rem;
  }

  .navLogin {
    display: block;
    padding-bottom: .2rem;
    padding-right: .2rem;
    margin-bottom: .2rem;
  }

  .cart>p,
  .navLogin>p {
    display: block;
    color: #000;
    font-size: .85rem;
  }
}